/phpunit.phar
/.phpunit.result.cache
/vendor/
/tmp/
/composer.lock
/composer.phar
# IDE and editor specific files #
#################################
/nbproject/
/.idea/
/tests/test_files/node_modules/
/tests/test_files/package-lock.json
